input.nokkonenheader {
  text-align: center;
  border: none
}
@media screen and (min-width: 640px) {
  input.nokkonenheader {
    font-size: 40px;
    height: 50px;
  }
}
input.nokkonenheader:focus {
  outline: none;
  border: none;
}
