extends layout.jade

block scripts

block content
  div.ng-cloak(ng-init="recipes = #{result}")
    div(ng-controller="RecipeListController as listCtrl")
      div.row(ng-show="listCtrl.recipesFound(recipes)")
        div.small-12.columns(ng-repeat="recipe in recipes")
          div.row
            div.small-12.columns
              h4 {{ recipe.name }} by {{ recipe.owner }}
            div.small-6.medium-3.columns
              label type
                p {{recipe.type}}
            div.small-6.medium-3.columns(ng-show="!listCtrl.isTypeComponent(recipe.type)")
              label serving
                p {{ recipe.serving }}
            div.small-12.medium-3.columns(ng-show="listCtrl.isTypeComponent(recipe.type)")
              label amount
                p {{ recipe.amount }} {{ recipe.unit }}
            div.small-12.medium-3.columns
              label preparation time
                p {{ recipe.hours }} hours {{ recipe.minutes }} min
            div.small-12.medium-3.columns
              button.button(type="button", ng-click="listCtrl.getRecipe(recipe.name, recipe.owner)") view recipe
      div.row(ng-show="!listCtrl.recipesFound(recipes)")
        div.small-12.columns
          p No recipes found.
